input {
    width: 100%;
    margin: 20px !important;
}
.video-tiles {
    margin: 20px;
    cursor: pointer;
}
iframe {
    width: 100% !important;
    height: 500px !important;
}
.fixed {
    position: fixed;
    top: 10px;
    width: 52%;
    z-index: 100000;
}
@media (max-width: 768px) {
    .fixed {
        width: 100%;
    }
}
